# Managed by torchvision
data/MNIST

# Let's not commit pytorch models
*.pth

# Python bytecode cache
*.pyc

# These have been downloaded by hypertrain*.ipynb
wisc_bc_data.csv
car_evaluation.csv

# Figures
report/*.png
